<!--page to add plants new to the plants database-->
<html>
    <head>
        <meta charset="UTF-8">
        <title> insert </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
    <div class="one">
            <div class="two">
                <h1>Navigation</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('display')}}">Profile</a></li>
                    <li class="active"><a href="{{url_for('insert')}}">Add Plants</a></li>
                    <li><a href="{{url_for('update')}}">Update Details</a></li>
                    <li><a href="{{url_for('search')}}">Search</a></li>
                    <li><a href="{{url_for('user_plants')}}">Add My Own Plants</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Welcome!! You are in the add plants page! </h2>
                </div></br></br>
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Insert Plants</h1>
            </div></br></br>
            <div class="registerbottom">
              <form action="{{ url_for('insert')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="plant_name" placeholder="Enter the scientific name" class="textbox" id="plant_name" required></br></br>
            <input type="text" name="common_name" placeholder="Enter the common name" class="textbox" id="common_name"></br></br>
            <input type="text" name="light" placeholder="Enter lighting requirements" class="textbox" id="light" required></br></br>
            <input type="text" name="maintenance" placeholder="Maintenance level" class="textbox" id="maintenance" required></br></br>
            <input type="number" name="water_days" placeholder="How often should you water (no of days)" class="textbox" id="water_days" required></br></br>
            <input type="text" name="soil_water_indicator" placeholder="Soil water level?" class="textbox" id="soil_water_indicator" required></br></br>
            <input type="text" name="toxic" placeholder="Is plant toxic? y/n" class="textbox" id="toxic" required></br></br>
            <input type="text" name="humidity" placeholder="Humidity conditions?" class="textbox" id="humidity" required></br></br>
            <input type="text" name="environment_temp" placeholder="Ideal temperature?" class="textbox" id="environment_temp" required></br></br>
            <input type="submit" class="btn" value="Insert">
              </form>
            </div>
        </div>
            </div>
    </div>
    </body>
</html>