<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thrive</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="h-100 d-flex flex-direction-column justify-content-center align-items-center" style="background-image: url('/static/background.jpg'); background-position: right bottom; background-repeat: no-repeat; background-attachment: fixed; background-size: contain">
  <img src="/static/logo.png" style="position: fixed; top: 0; left: 25px; width: 150px;">
  <form method="post" action="{{ url_for('login') }}" autocomplete="off" style="width: 80%; max-width: 300px;">
    <div class="msg">{{ msg }}</div>
    <h2 class="mb-4 text-center" style="font-family: 'Montserrat', sans-serif;">Welcome to Thrive.</h2>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" class="btn btn-outline-success d-block w-100 mb-3">Sign in</button>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="text-danger text-center">{{ messages|join(' • ') }}</p>
      {% endif %}
    {% endwith %}
    <p class="text-center">Not yet registered? <a href="{{ url_for('signup') }}" class="link-success">Sign up</a></p>
  </form>
</body>
</html>