<!--page to add plants new to the plants database-->
<html>
    <head>
        <meta charset="UTF-8">
        <title> user_plants </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
    <div class="one">
            <div class="two">
                <h1>Navigation</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('display')}}">Profile</a></li>
                    <li class="active"><a href="{{url_for('insert')}}">Add Plants</a></li>
                    <li><a href="{{url_for('update')}}">Update Details</a></li>
                    <li><a href="{{url_for('search')}}">Search</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Welcome!! You are in the add plants page! </h2>
                </div></br></br>
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>User Plants</h1>
            </div></br></br>
            <div class="registerbottom">
              <form action="{{ url_for('user_plants')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="plant_name" placeholder="Enter the scientific name" class="textbox" id="plant_name" required></br></br>
            <input type="submit" class="btn" value="Add to database">
              </form>
            </div>
        </div>
            </div>
    </div>
    </body>
</html>